body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: #d3d3d333;
}

.navbar {
	display: flex;
	flex-direction: row;
	padding: 20px;
	background: white;
	justify-content: space-around;

}

.nav-head {
	font-size: 25px;
}

.nav-all-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

.nav-link {
	margin-left: 30px;
}

.main-section {
	width: 100vw;
}

.text-muted {
	color: gray;
}

.back-dot {
	background-image: url("../images/dots.svg");
}

.col-of-img {
	position: relative;
	height: 500px;
}

.dot-div {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 70px;
	margin-top: 30px;
	height: 210px;
	width: 210px;
	z-index: -1;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col {
	width: 46%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.col-2 {
	width: 8%;
}

.main-head {
	font-size: 50px;
}

.main-btns {
	width: 100%;
	text-align: left;
}

.custom-btn {
	padding: 10px;
	min-width: 150px;
	background: #fc0;
	border: none;
	cursor: pointer;
}

.custom-btn:hover {
	background: #fc0;
}

.custom-outline-btn {
	min-width: 150px;
	background: transparent;
	padding: 10px;
	border: 1px solid #fc0;
	cursor: pointer;
}

.main-head-parent {
	width: 100%;
	text-align: left;
}

.vertical-writing {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	display: flex;
	justify-content: space-around;
}

.vertical-writing > span {
	font-size: 20px;
	margin-right: 20px;
}
